{% extends "base.html" %}
{% load static %}
{% block title %}Activation email{% endblock %}
{% block content %}

<style>
    body{
        overflow-x: hidden;
    }
</style>

<div class="container-fluid" style="margin-top: 10%;">
    <div class="row mt-5">
        <div class="col-lg-5">
            <div style="">
                <img src="../../../static/frontend/img/solen-feyissa-TaOGbz_S-Qw-unsplash.jpg"  alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="categories__text">
                <h1>Email Activation</h1>
                <h3>Your Activation link has been sent! Please check your  Email and click on the link for confirmation.</h3>
                
            </div>
         </div>
    </div>
</div>
{% endblock %}