{% extends '../dashboard/account_base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

{% if post.instance.pk %}
<h2>Edit Post</h2>
{% else %}
<h2>Add Food</h2>
{% endif %}

<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add Food</li>
      </ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
                <div class="row">
                  <form method="post" enctype="multipart/form-data">
                    {% if messages %}
                      {% for m in messages %}
                        <div class="alert {{ m.tags }}">{{ m }}</div>
                      {% endfor %}
                    {% endif %}
                      {{ form.as_p }}
                      {% csrf_token %}
                    {% if form.instance.pk %}
                      <button type="submit" class="btn btn-warning">Edit Food</button>
                    {% else %}
                      <button type="submit" class="btn btn-warning">Add Food</button>
                    {% endif %}

                  </form>
                </div>
            </div>
        </div>

{% endblock %}