{% extends 'dashboard/account_base.html' %}
{% load static %}
{% block title %} Change Password
{% endblock %}
{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
        <!-- <div class="page-header">
            <h3 class="page-title"> Form elements </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
            </nav>
        </div> -->
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">

                    <div class="card-body">
                        <h3 class="card-title"> View Profile Details</h3>

                        <form action="#" class="forms-sample">

                            <div class="form-group">
                                <label for="exampleInputName1">Username</label>
                                <input type="text" class="form-control" placeholder="{{request.user.username}}"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">First name</label>
                                <input type="text" class="form-control" placeholder="{{request.user.first_name}}"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Last Name</label>
                                <input type="text" class="form-control" placeholder="{{request.user.last_name}}"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Email</label>
                                <input type="text" class="form-control" placeholder="{{request.user.email}}" readonly>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Save</button>
                            <!-- <a href="{% url 'account:edit_form' %}"><button type="submit" class="btn btn-primary mr-2">Edit</button></a> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="footer-inner-wraper">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                    bootstrapdash.com
                    2020</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                        href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from
                    Bootstrapdash.com</span>
            </div>
        </div>
    </footer>
    <!-- partial -->
</div>




{% endblock %}