{% extends '../dashboard/account_base.html' %}
{% load static %}
{% block title %}View Blog {% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">View Blog</li>
      </ol>
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
                <div class="row">
                    <h2>View Food</h2>
                        <table class="table table-bordered">
                            <tr>
                            <th>S/N</th>
                            <th>Blog Title</th>
                            <th>Blog Image</th>
                            <th>Author</th>
                            <th>Date Created</th>
                            <th>Date Updated</th>
                            <th colspan="3">Action</th>
                            </tr>
                
                            {% if list_blog %}
                            {% for list in list_blog %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ list.title }}</td>
                                    <!-- <td>{{ l.blg_content|truncatewords:30 }}</td> -->
                                    <td><img src="{{ list.image }}" width="50" height="50" alt=""></td>
                                    <td>{{list.author}}</td>
                                    <td>{{ list.created_on }}</td>
                                    <td>{{ list.updated_on }}</td>
                                    <!-- <td>
                                        {% for c in l.cat_id.all %}
                                            {{ c.cat.cat_name}}
                                        {% endfor %}
                                    </td> -->
                                    <td>
                                        <a href="">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'account:view_blogdetails' list.slug %}">View</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'account:delete_blog' list.slug %}">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% endif %}    
                        </table>
                </div>
            </div>
        </div>

{% endblock %}